# Console Service API URL
VITE_CONSOLE_SERVICE_URL=http://localhost:60009/api/v1

# Short link domain (without protocol)
VITE_SHORT_LINK_DOMAIN=lnk.day

# Short link base URL (with protocol)
VITE_SHORT_LINK_BASE_URL=https://lnk.day
